.container1 {
  margin: 20px 20px 20px 20px;
  height: 600px;
}
.topnav {
  padding-top: 20px;
  overflow: hidden;
}
.topnav img {
  float: right;
}
.group{
  background-color: #F2F2F2;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  margin-right: 160px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.headlines {
  margin: 20px 20px;
  color: white;
}
.headlines img {
  float: right;
  margin-bottom: -400%;
}
.instructions {
  display: flex;
  gap: 10%;
  margin: 20px 20px;
}
.instructions button {
  background-color: yellow;
  border-radius: 10%;
}
.container2 {
  margin: 20px 20px;
}
.logos {
  display: flex;
  justify-content: space-between;
}
.container2 h1 {
  text-align: center;
}
.card {
  display: flex;
  float: right;
  margin-top: -33%;
  height: 50%;
  width: 40%;
  padding-right: 5%;
  box-sizing: black;
}
.section3 h1 {
  text-align: center;
}
.section3 h3 {
  text-align: center;
}
.crd1 {
  background-color: blue;
  text-align: center;
}
.crd2 {
  background-color: green;
  text-align: center;
}
.crd3 {
  background-color: antiquewhite;
  text-align: center;
}
.crd4 {
  background-color: aquamarine;
  text-align: center;
}
.tallbulding {
  padding-left: 5%;
}
.first-cards {
  padding: 10px;
}
.container {
  background-color: #f2f2f2;
}

.new-section {
  background-color: blue;
  background-size: cover;
  height: 600px;
}
.logs{
  margin-left: 2%;
  margin-right: 2%;
}
.logs h1 {
  text-align: center;
}
nav{
text-decoration: none;
display: flex;
}
nav a{
  text-decoration: none;
  padding: 8px;
  background-color: #dfeb42;
  text-align: center;
}
nav li{
  margin: 0;
  padding: 0;
  padding: 14px 16px;

  list-style-type: none;

  text-decoration: none;
}
.categories h2{
  text-align: center;
}
/* .nav{
    background-color: yellow;
} */
/* .nav a{
    text-decoration: none;
    justify-content: space-between;
text-align: center;
} */
.image-cards{
    display: flex;
    justify-content: space-between
}
.image-cards p{
  color: #6A59D9;
}
.houses{
    display: flex;
    padding: 20px 20px;
    /* justify-content: space-between; */
}
.categories{
  margin-left: 2%;
  margin-right: 2%;
    background-color: #F2F2F2;
    padding: 8px;
}

.middle-section{
  margin-left: 2%;
  margin-right: 2%;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
}
.middle-section h5{
  color: blue;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
.middle-section span{
  color: yellow;
}
.icons{
  display: flex;
}
.agents{
  margin-left: 2%;
  margin-right: 2%;
  background-color: #F2F2F2;
  
}
.agents h5{
  font-size: large;
  text-align: center;
}
.agents span{
  color: blue;
}
footer{
  background-color: rgb(111, 111, 235);
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
}
footer button{
  background-color: yellow;
  width: 10vw;
  height: 5vh;

}
.copyright{
  text-align: center;
}